/dist
/djcharme.egg-info
/deployIndjcharme.sh
/deployIndjcharme.sh~
/sqlite.db
/.settings
/.project
/.pydevproject
/RemoteSystemsTempFiles
/.metadata
/.~lock.CHARMeNodeICD.odt#
/.buildpath
/.directory
