{% extends "base_no_sidebar.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}/charme/css/charme.css" />
{% block extra_extra_head %}
{% endblock %}
{% endblock %}

{% block header_menu %}
<div class="charme_user">
<ul>
{% if user.is_authenticated %}
	<span class="charme_user_extra"><li>Welcome, {{ user.first_name }}</li>
	<li>|</li></span>
	<li><a href="{% url 'profile' %}">Account</a></li>
	<span class="charme_user_extra"><li>|</li></span>
	<li><a href="{% url 'user_signout' %}">Logout</a></li>

{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
	<span class="charme_user_extra"><li>|</li></span>
	<li><a href="{% url 'registration' %}">Register</a></li>
{% endif %}

</ul>
</div>
{% endblock %}

{% block navbar %}

{% if user.is_authenticated %}
<ul class="nav pull-right">
	<li class="dropdown">
		<a href="{% url 'index' %}"> List Annotations </a>
	</li>
	<li class="divider-vertical"></li>
	<li class="dropdown">
		<a href="{% url 'following-list' %}"> Follow Resources </a>
	</li>

	{% if user.is_staff %}
	<li class="divider-vertical"></li>
	<li class="dropdown">
		<a title="big time" href="{% url 'status' %}"> Service Status </a>
	</li>
	{% endif %}

</ul>
{% endif %}

{% endblock %}

{% block title %}

CHARMe service

{% endblock %}
